

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>Caro fedele</h1>
      <p>Causa la pandemia per Covid-19, quest'anno la partecipazione alle messe del tempo di Natale sono contingentate.</p>
      <p>Il Circolo San Francesco D'assisi ha sviluppato questa web application per la registrazione degli accessi.</p>
      <p>Per potersi registrare devi prime effettuare il login inserendo le credenziali d'accesso.</p>
      <p>devi utilizzare come credenziale "fedele"</p>
      <p>conclusa la fase di registrazione avrai la visibilità delle messe per le quali si rende necessaria la prenotazione</p>
      <p>selezionata la messa, avrai accesso alla pagina in cui inserire i tuoi dati</p>
      <p></p>
      <p>Ti ringraziamo per la paziente attenzione</p>
      <p>Don Marino Parroco</p>





    <!--  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>   -->
    </div>
  </div>

  <!--
  <div class="container">
    <-- Example row of columns
    <div class="row">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
     </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div>  -->




