<h1>messa-data</h1>
<br>

<caption class="title col-sm-12">{{title}}</caption>

<br>

<!--{{messa | json}}  -->
<div class="container">
  <div class="row col-md-10">    <!--  <div class="row justify-content-md-center"> -->
  <!--   <div class="col col-lg-1 bord">1 di 3</div>  -->
    <div class="col-md-auto">
      <form #fm ="ngForm">
        <input  Hidden #id="ngModel"  [(ngModel)]="messa.id" class="form-control" name="id" id="id">
<div class="form-row">
    <div class="form-group col-sm-12">
          <label for="demessa">Messa</label>
          <input disabled #demessa="ngModel"  [(ngModel)]="messa.demessa" class="form-control" name="demessa" id="demessa">
    </div>
</div>

<div class="form-row">
    <div class="form-group col-sm-6">
         <label for="postimax">Massimo Posti Consentiti</label>
         <input disabled [(ngModel)]="messa.postimax"   #fiscalcode="ngModel" class="form-control"  name="postimax" id="postimax" >
    </div>
    <div class="form-group col-sm-6">
         <label for="postimax">Posti Prenotati</label>
         <input disabled [(ngModel)]="messa.postipren"   #fiscalcode="ngModel" class="form-control"  name="postipren" id="postipren" >
     </div>
</div>







<!--

        <div class="formrow">

          <div class="row">
            <div class="col-25">
              <label >Messa : </label>
            </div>
            &nbsp;&nbsp;
            <div class="col-75 bord">
              {{demessa}}
            </div>
          </div>
          <div class="row">

            <div class="col-md-6 bord">
              <div class="col-75">
                <h5 >P. Max : </h5>
              </div>
              &nbsp;&nbsp;
              <div class="col-25 pmax">
                {{poMax}}
              </div>
            </div>
            <div class="col-md-6 bord1">
              <div class="col-75">
                <h4>P. Pren : </h4>
              </div>
              &nbsp;&nbsp;
              <div class="col-25 ppre">
                {{poPre}}
              </div>
            </div>









            &nbsp;&nbsp;





        </div>
        </div>

-->


      </form>
    </div>
     <!--   <div class="col col-lg-1 bord">3 di 3</div>  -->

  </div>

  <br>


     <div class="row col-sm-6">
            <div class="col-sm-5">
                 <button  class="btn btn-primary btn-rounded"  (click)="registraPresenza()">Registrazione
                   <fa-icon [icon]="faPlusSquare"  fixed="true"></fa-icon>
                  </button>
             </div>

      </div>


     <br>

     <table class="table table-striped table-sm shadow-lg p-3 mb-5 bg-white">

       <tr>
           <th>cognome</th>
           <th>nome</th>
           <th>email</th>
           <th>telefono</th>
           <th>presente</th>
           <!--  non serve action -->
           <th>Action</th>
       </tr>
       <!-- <tr app-fedele *ngFor ="let fedele of fedeli; let i = index" >  -->  <!-- volendo gestire anche il progressivo -->
       <tr app-fedele *ngFor ="let fedele of fedeli"
      [fedele-data] = "fedele" [style.color]="fedele.presente == 'S' ? 'red' : null" >    <!--  -->
      <!--   20201205 - prima di eliminazione da elenco di edit e delete
     <tr app-user *ngFor ="let user of users"
      [user-data] ="user"
       (onDeleteUser) ="onDeleteUser($event)"
      (onSelectUser) ="onSelectUser($event)"
      >   -->

     </tr>
     </table>








     <!--
     <form #ff ="ngForm">


        <div class="formrow">

        </div>


      </form>
  -             -->
    </div>

   <!-- <div class="col col-lg-2">3 di 3</div>   -->








