<p>info-app works!</p>

<p>cliccare sul collegamento "Messe di Natale" visualizzato nella immagine</p>
<a class="navbar-brand" href="#">
  <img src="assets/images/Help_001.jpg"  alt="link_iniziale">
</a>

<p>Viene visualizzato l'elenco delle S.Messe per le quali si rende necessaria la prenotazione</p>
<a class="navbar-brand" href="#">
  <img src="assets/images/Help_002.jpg"  alt="elencoMesse">
</a>
<p>ricercare nell'elenco la messa a cui si desidera partecipare e cliccare sul bottoncino evidenziato</p>
<p></p>
<p>se la messa a cui si desidera partecipare risulta evidenziata in rosso</p>
<p><strong>le prenotazioni risultano già esaurite e non sarà possibile registrarsi ulteriormente.</strong></p>





<hr class="my-4">

<div class=row>
  
<div class="form-group col-md-12">

  <p>clicca sul bottone per ritornare alla pagina precedente</p>
  <div class="lead col-md-5">
    <a class="btn btn-primary btn-lg" href="#" role="button"   (click)="okconfirm()">Chiudi</a>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary me-md-2" type="button">Segue</button>
   
  </div>
</div>  
</div>




